/* styles.css */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  section {
    flex: 1;
  }

  .app-footer {
    margin-top: auto;
  }


  .success, .error {
    border: 5px solid transparent; /* Use a transparent border for a smooth transition */
 /* Add a transition for border-color */
  }

  .success {
    border-color: green; /* Border color when successful */
  }

  .error {
    border-color: red; /* Border color when there's an error */
  }



